<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Uni</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
        <script src="js/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body>
        <div class="container content">
            
            <h1 class="welcome">Welcome, <%= (user !== undefined) ? user.nickname : 'John Doe' %>!</h1>

            <div id="connection-info">
                <div id="connection-message">
                    Waiting for connection...
                </div>
                <div id="connection-status">
                    <div class="status status-active"></div>
                    <div class="status status-danger"></div>
                    <div class="status status-warning"></div>
                    <div class="status status-success"></div>
                </div>
            </div> <!-- Connection Status -->

            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <label for="basic-url"></label>
    
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon">
                                    https://localhost:8080/rooms/
                                </span>
                            </div>
    
                            <input type="text" class="form-control" id="input-room-id" aria-describedby="basic-addon" placeholder="Where do you want to be?">
                            <div class="input-group-append">
                                <button type="button" id="btn-go" class="btn btn-outline-secondary">Go!</button>
                            </div>
                        </div>
    
                    </div>

                </div>
            </div>
        </div>
        
    </body>
</html>